
# -----------------------------------------------------------------------------
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A INPUT -o lo -m conntrack --ctstate NEW -j ACCEPT
#-A INPUT -p icmp -m limit --limit 5/min -m conntrack --ctstate NEW -j ACCEPT
#-A INPUT -i ippp0 -p tcp --syn --dport 22 -m conntrack --ctstate NEW -j ACCEPT

#-A INPUT -i ippp0 -p tcp --dport 22 -m recent --set --name SSH -m conntrack --ctstate NEW -j ACCEPT
#-A INPUT -i ippp0 -p tcp --dport 22 -m recent --update --seconds 60 --hitcount 4 --rttl --name SSH -m limit --limit 5/min -j LOG --log-prefix "SSH_brute_force "
#-A INPUT -i ippp0 -p tcp --dport 22 -m recent --update --seconds 60 --hitcount 4 --rttl --name SSH -j DROP

#-A INPUT -p icmp --icmp-type echo-request -m limit --limit 5/s -m conntrack --ctstate NEW -j ACCEPT
#-A INPUT -p icmp --icmp-type echo-reply -m conntrack --ctstate ESTABLISHED -j ACCEPT
#-A INPUT -p icmp --icmp-type destination-unreachable -m conntrack --ctstate RELATED -j ACCEPT
#-A INPUT -p icmp --icmp-type time-exceeded -m conntrack --ctstate RELATED -j ACCEPT

#-A INPUT -p tcp ! --syn -m conntrack --ctstate ESTABLISHED -j ACCEPT
#-A INPUT -p tcp --syn -m conntrack --ctstate RELATED -j ACCEPT
#-A INPUT -p udp -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT


-A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A OUTPUT -o lo -m conntrack --ctstate NEW -j ACCEPT
#-A OUTPUT -o ippp0 -m conntrack --ctstate NEW -j ACCEPT
#-A OUTPUT -o eth0 -m conntrack --ctstate NEW -j ACCEPT


-A FORWARD -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
#-A FORWARD -i eth0 -m conntrack --ctstate NEW -j ACCEPT

#-A FORWARD -i ippp0 -s 192.168.96.0/20 -m conntrack --ctstate NEW -j ACCEPT

#
#-A FORWARD -s 192.168.1.0/25 -i eth0.250 -p tcp -m tcp --sport 1024:65535 --tcp-flags FIN,SYN,RST,ACK SYN -m conntrack --ctstate NEW -j ACCEPT
#-A FORWARD -s 192.168.1.0/25 -i eth0.250 -p udp -m udp --sport 1024:65535 -m conntrack --ctstate NEW -j ACCEPT
#-A FORWARD -s 192.168.1.0/25 -i eth0.250 -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT
#
#-A FORWARD -s 192.168.1.128/25 -i eth0.251 -p tcp -m tcp --sport 1024:65535 --tcp-flags FIN,SYN,RST,ACK SYN -m conntrack --ctstate NEW -j ACCEPT
#-A FORWARD -s 192.168.1.128/25 -i eth0.251 -p udp -m udp --sport 1024:65535 -m conntrack --ctstate NEW -j ACCEPT
#-A FORWARD -s 192.168.1.128/25 -i eth0.251 -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT COMMIT
#


# -----------------------------------------------------------------------------
*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

#-A POSTROUTING -o eth0 -j MASQUERADE

# -----------------------------------------------------------------------------
COMMIT

